<div class="inner cover bodySplit">
    <div class="toTheLeft">
      <div class="costomFontFamily customMainFontSize">New Year Offer</div>
      <h1 class="costomFontFamily customMainFontSize"><span class="fillLightRed costomFontFamily customMainFontSize toUpperCase">82%
          off</span> Web Hosting</h1>
      <div class="displayInOneLine">
        <div class="arrow-right"></div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">00</div>
          <div class="costomFontFamily toUpperCase">days</div>
        </div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">16</div>
          <div class="costomFontFamily toUpperCase">hours</div>
        </div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">18</div>
          <div class="costomFontFamily toUpperCase">minutes</div>
        </div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">29</div>
          <div class="costomFontFamily toUpperCase">seconds</div>
        </div>
        <div class="arrow-left"></div>
      </div>
      <p><a class="btn btn-lg btn-info highlightedButton">
          <div class="lowerText toUpperCase">get started now</div>
        </a></p>
    </div>
    <div class="col-md-6 toTheRight">

      <div class="objectsToMiddle">
        <div class="square costomFontFamily2">
          <div class="lowerText2 toUpperCase">save 82%</div>
        </div>
        <div class="arrow-down"></div>
      </div>
      <div class="inlinePosition">
        <span class="customFontFamily3">$</span>
        <span class="customFontFamily4">1</span>
        <span class="customFontSize">
          <div class="leftSide">45</div>
          <div>&nbsp;/mo</div>
        </span>
      </div>
    </div>
  </div>