<div class="mastfoot">
  <div class="inner">
    <span class="spaceToTheRight3">
      <span class="glyphicon glyphicon-ok spaceToTheRight2"></span>
      Guaranteed 99.9 Uptime
    </span>
    &nbsp;
    <span class="spaceToTheRight">
      <span class="glyphicon glyphicon-ok spaceToTheRight2"></span>
      Superior Speed
      Performance
    </span>
    &nbsp;
    <span class="spaceToTheRight">
      <span class="glyphicon glyphicon-ok spaceToTheRight2"></span>
      24/7 Support
      Chart
    </span>
    &nbsp;
    <span class="spaceToTheRight">
      <span class="glyphicon glyphicon-ok spaceToTheRight2"></span>
      30-Day
      Money-Back
      Guarantee
    </span
    >&nbsp;
  </div>
</div>