
.spaceToTheRight {
    margin-left: 0%;
    font-family: monospace;
    font-size: larger;
}

.spaceToTheRight2 {
    margin-right: 15px;
    color: rgba(94, 233, 94, 0.76);
    font-size: small
}

.spaceToTheRight3 {
  margin-left: 0%;
  font-family: monospace;
  font-size: larger;
}

/* Padding for spacing */
.inner {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255, 255, 255, 0.918);
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}

@supports (-moz-appearance:none) {
      .spaceToTheRight2 {
    margin-right: 0px;
    color: rgba(94, 233, 94, 0.76);
    font-size: small
}
}

@media (min-width: 768px) {

  .spaceToTheRight {
    margin-left: 3%;
    font-family: monospace;
    font-size: larger;
  }

  @supports (-moz-appearance:none) {
    .spaceToTheRight {
	    margin-left: 1.5%;
      font-family: monospace;
      font-size: larger;
    }
  }
}

@media (min-width: 1200px) {
  .mastfoot {
    width: 1160px;
  }
}
