<div class="masthead clearfix">
  <div class="inner">
    <ul class="nav masthead-nav">
      <li>
        <a class="toUpperCase">web hosting</a>
      </li>
      <li>
        <a class="toUpperCase">
          <div class="toolbarTextAbove toUpperCase">on sale</div>
          cloud hosting
        </a>
      </li>
      <li>
        <a class="toUpperCase">vps hosting</a>
      </li>
      <li>
        <a class="toUpperCase">domain checker</a>
      </li>
      <li>
        <a class="toUpperCase">website builder</a>
      </li>
    </ul>
  </div>
</div>