// #Main{
//     background:  url(../../../background.jpg);
//     background-size: cover;
//     background: {
//         -moz-transform: scaleX(-1);
//         -o-transform: scaleX(-1);
//         -webkit-transform: scaleX(-1);
//         transform: scaleX(-1);
//         filter: FlipH;
//         -ms-filter: "FlipH";
//     };
//     min-height: 100%;
//     height: 100%;
// }

/* You can add global styles to this file, and also import other style files */
:host {
    height: 1000px;
}